<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Electricians</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>


<!--body starts-->
<body>



  <main id="main">
    <div id="repair">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
            <h2>Repair Appliances</h2>
            <ol>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html#services">Services</a></li>
                <li>Repair Appliances</li>
            </ol>
            </div>

        </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper-container">
                <div class="swiper-wrapper align-items-center">

                    <div class="swiper-slide">
                    <img src="assets/img/electricians/repair1.jpeg" alt="">
                    </div>

                    <div class="swiper-slide">
                    <img src="assets/img/electricians/repair2.jpeg" alt="">
                    </div>

                    <div class="swiper-slide">
                    <img src="assets/img/electricians/repair3.jpeg" alt="">
                    </div>

                </div>
                <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                <h3>General Information
                </h3>
                <ul>
                    <li><strong>Category</strong>: Carpentry</li>
                    <li><strong>Standard charges</strong>: ₹300 (cost of material used excl.)</li>
                </ul>
                </div>
                <div class="portfolio-description">
                <h2>What does this service include</h2>
                <p>
                    <b>Extra charges for all the material used.</b><br>
                    <b>100% Mess Free experience:</b> Post service cleanup guaranteed.<br>
                    <b>4.5+ Rated Expert Electricians:</b> Our electricians are trained to provide the best service.<br>
                </p>
                </div>
            </div>

            </div>

        </div>
    </div>
    </section><!-- End Portfolio Details Section -->


    <!-- ======= Breadcrumbs ======= -->
    <div id="wiring">
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
    
            <div class="d-flex justify-content-between align-items-center">
                <h2>Wiring, Fitting work</h2>
                <ol>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html#services">Services</a></li>
                <li>Wiring, fitting work</li>
                </ol>
            </div>
    
            </div>
        </section><!-- End Breadcrumbs -->
    
        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">
    
            <div class="row gy-4">
    
                <div class="col-lg-8">
                <div class="portfolio-details-slider swiper-container">
                    <div class="swiper-wrapper align-items-center">
    
                    <div class="swiper-slide">
                        <img src="assets/img/electricians/wiring2.jpeg" alt="">
                    </div>
    
                    <div class="swiper-slide">
                        <img src="assets/img/electricians/wiring4.jpeg" alt="">
                    </div>
    
                    <div class="swiper-slide">
                        <img src="assets/img/electricians/wiring3.jpeg" alt="">
                    </div>
    
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                </div>
    
                <div class="col-lg-4">
                <div class="portfolio-info">
                    <h3>General Information
                    </h3>
                    <ul>
                    <li><strong>Category</strong>: Carpentry</li>
                    <li><strong>Standard charges</strong>: ₹500 (cost of material used excl.)</li>
                    </ul>
                </div>
                <div class="portfolio-description">
                    <h2>What does this service include</h2>
                    <p>
                    <b>Extra charges for all the material used.</b><br>
                    <b>100% Mess Free experience:</b> Post service cleanup guaranteed.<br>
                    <b>4.5+ Rated Expert Electricians:</b> Our electricians are trained to provide the best service.<br>
                    </p>
                </div>
                </div>
    
            </div>
    
            </div>
        </section><!-- End Portfolio Details Section -->
      </div>
  
  </main><!-- End #main -->

  

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/purecounter/purecounter.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>