{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Salon for men</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'Home/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'Home/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'Home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Home/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'Home/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'Home/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'Home/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'Home/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'Home/css/style.css' %}" rel="stylesheet">
</head>


<!--body starts-->
<body>



  <main id="main">
    <div id="repair">
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
            <h2>Salon for men</h2>
            <ol>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'home' %}">Services</a></li>
                <li>Salon for men</li>&emsp;
                {% if loggedin %}
                    <a  >Hello, {{user}}</a>
                {% endif %}
            </ol>
            </div>

        </div>
        </section><!-- End Breadcrumbs -->

        <!-- ======= Portfolio Details Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

            <div class="col-lg-8">
                <div class="portfolio-details-slider swiper-container">
                <div class="swiper-wrapper align-items-center">


                    <div class="swiper-slide">
                    <img src="{% static 'Home/img/salonForMen/haircut2.webp' %}" alt="">
                    </div>

                    <div class="swiper-slide">
                    <img src="{% static 'Home/img/salonForMen/haircut3.jpeg' %}" alt="">
                    </div>

                    <div class="swiper-slide">
                        <img src="{% static 'Home/img/salonForMen/salonForMen1.jpeg' %}" alt="">
                    </div>

                </div>
                <div class="swiper-pagination"></div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="portfolio-info">
                <h3>General Information
                </h3>
                <p>Category: </p>
                <h4>Services offered</h4>
                <form action="/action_page.php">
                    <input type="checkbox" id="service1" name="servicee1" value="v1">
                    <label for="vehicle1"> service1</label><br>
                    <input type="checkbox" id="service2" name="service2" value="v2">
                    <label for="vehicle2"> service2</label><br><br>
                    <input type="submit" value="Book Now">
                  </form>
                <!--<ul>
                    <li><strong>Category</strong>: Carpentry</li>
                    <li><strong>Standard charges</strong>: ₹300 (cost of material used excl.)</li>
                </ul>
                </div>
                <div class="portfolio-description">
                <h2>What does this service include</h2>
                <p>
                    <b>Extra charges for all the material used.</b><br>
                    <b>100% Mess Free experience:</b> Post service cleanup guaranteed.<br>
                    <b>4.5+ Rated Expert Electricians:</b> Our electricians are trained to provide the best service.<br>
                </p>
                </div>-->
            </div>

            </div>

        </div>
    </div>
    </section><!-- End Portfolio Details Section -->

  <!-- Vendor JS Files -->
  <script src="{% static 'Home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Home/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'Home/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'Home/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'Home/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'Home/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'Home/vendor/swiper/swiper-bundle.min.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'Home/js/main.js' %}"></script>

</body>

</html>